.simon__game {
  font-family: 'Acme', sans-serif;
  background: url("https://blogrebellive.files.wordpress.com/2013/10/grey-background-for-site11.jpg") center center no-repeat fixed;
  height: 100vh;
  width: 100vw;
}
.simon__game .simon__game__status {
  background-color: #9D9C8A;
  box-shadow: inset 0 0 0 10px #85846f;
  position: absolute;
  width: 60vw;
  height: 30vh;
  top: 55vh;
  left: 20vw;
}
.simon__game .simon__game__status .status__object {
  background-color: #cbcbc2;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.simon__game .simon__game__status .status__title {
  font-size: 24px;
  width: 20vw;
  border-radius: 40%;
  top: 4vh;
  text-decoration: underline;
}
.simon__game .simon__game__status .status__countInfo {
  font-size: 24px;
  width: 10vw;
  border-radius: 40%;
  top: 15vh;
}
.simon__game .simon__game__status .status__startInfo {
  border: 10px solid #85846f;
  height: 100%;
  width: 15vw;
  background-color: #E35858;
  right: 50vw;
}
.simon__game .simon__game__status .status__strictInfo {
  border: 10px solid #85846f;
  height: 100%;
  width: 15vw;
  background-color: #E35858;
  left: 45vw;
}
.simon__game .simon__game__status .status__start {
  border-radius: 50%;
  font-size: 20px;
  width: 20%;
  top: 12vh;
  cursor: pointer;
  right: 45vw;
}
.simon__game .simon__game__status .status__strict {
  border-radius: 50%;
  font-size: 20px;
  width: 20%;
  top: 12vh;
  cursor: pointer;
  left: 45vw;
}
.simon__game .simon__game__color {
  position: absolute;
  border: 0;
  width: 30vw;
  height: 20vh;
}
.simon__game .simon__game__color-unClickable {
  pointer-events: none;
}
.simon__game .simon__game__color-first {
  background-color: #E35858;
  box-shadow: inset 0 0 0 10px #dc2c2c;
  top: 15vh;
  left: 20vw;
}
.simon__game .simon__game__color-second {
  background-color: #95CA95;
  box-shadow: inset 0 0 0 10px #73b973;
  top: 15vh;
  right: 20vw;
}
.simon__game .simon__game__color-third {
  background-color: #8FB4EF;
  box-shadow: inset 0 0 0 10px #6296e9;
  bottom: 45vh;
  left: 20vw;
}
.simon__game .simon__game__color-fourth {
  background-color: #D8E575;
  box-shadow: inset 0 0 0 10px #ccdd4a;
  bottom: 45vh;
  right: 20vw;
}
